{% extends "base_template.html" %}

{% block page_title %}
    <title>{{ config.site_name }}</title>
{% endblock %}

{% block custom_styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ 'css/custom_style.css'|url }}">
{% endblock %}

{% block search_section %}
    <!-- Search button block intentionally left empty -->
{% endblock %}

{% block navigation_controls %}
    <!-- Next and previous buttons block intentionally left empty -->
{% endblock %}

{% block footer_content %}
    <footer>
        <div>
            <p>
                {{ config.site_author }}<br>
                &copy; {{ config.copyright }}<br>
                {{ config.site_description }}
            </p>
        </div>
    </footer>
{% endblock %}

 
